@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;

}
header {
    background-color: black;
    text-align: center;

}
header > h1 {
    font-family: 'Passion One', cursive;
    font-weight: 100;
    padding-top: 50px;
    color: white;
    margin: auto;
    font-size: 95px;
    font-variant: small-caps;
    
}

p#testiculo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    
    
    padding-bottom: 50px;
    
}
p#testiculo > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

p#testiculo > a:hover {
    text-decoration: underline;
}
section {
    font-family: 'Sriracha', cursive;
    font-size: 33px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 50px;
    line-height: 2em;
}

section.textofoto {
    
    color: white;
    background-color: rgba(14, 12, 12, 0.452);
    width: 400px;
    margin: 50px

   
}

div#foto1 {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    
}

div#foto2 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: center center;
}